!!! 5
html
  head
    meta(charset='utf-8')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body#home
    h1= title
    #content
      ul
        each sketch in sketches
          li
            - if ( sketch.files )
              strong= sketch.title
              ul
                each file in sketch.files
                  li
                    a(href=file.url)= file.name
            - else
              a(href=sketch.url)= sketch.name
